
.square {
	width: 320;
	height: 320;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	font-size: 160px;
	font-family: Arial, sans-serif;
	text-align: center;
}
#botoes,#status {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
}
.fraction {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: red;
	padding: 5px;
}
.fraction .numerator, .fraction .denominator {
	display: block;
}
.fraction .line {
	display: block;
	border-top: 6px solid red;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
}
.fractionPlayer {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: blue;
	padding: 5px;
}
.fractionPlayer .numerator, .fractionPlayer .denominator {
	display: block;
}
.fractionPlayer .line {
	display: block;
	border-top: 6px solid blue;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
}
#time, #pontuacao {
	width: 160px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	font-size: 60px;
	font-family: Arial, sans-serif;
	color: green;
	text-align: center;
}
